<div class="container">
    <div class="container">
        <div class='{{{typeAlert}}}' role='alert'>
            <h4>{{{title}}}</h4>
            <p>{{{notify1}}}</p>
            <hr>
            <p class='mb-0'>{{{notify2}}}</div>
        </div>
    </div>
    <form action="/login" method="post" class="container">
        <div class="mb-3">
            <label for="inputEmail">Email <span class="text-danger">*</span></label>
            <input type="email" name="email" id="inputEmail" class="form-control" aria-describedby="emailHelp" placeholder="Email...">
            <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
        </div>
        <div class="mb-3">
            <label for="inputSenha">Senha <span class="text-danger">*</span></label>
            <input type="password" name="senha" id="inputSenha" class="form-control" placeholder="Senha...">
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">
                Entrar
            </button>
        </div>
    </form>
</div>