<div class="container">
    <div class="container">
        {{{validation}}}
    </div>
    <form action="/login" method="post" class="container">
        <div class="mb-3">
            <label for="inputEmail">Email <span class="text-danger">*</span></label>
            <input type="email" name="email" id="inputEmail" class="form-control" aria-describedby="emailHelp" placeholder="Email...">
            <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
        </div>
        <div class="mb-1">
            <label for="inputSenha">Senha <span class="text-danger">*</span></label>
            <input type="password" name="senha" id="inputSenha" class="form-control" placeholder="Senha...">
        </div>
        <div class="text-center mb-2">
            <span class="text-small">Não tem uma conta? Cadastre-se </span><a href="/cadastro">Aqui.</a>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">
                Entrar
            </button>
        </div>
    </form>
</div>