<div class="container">
    <h1>Sucesso!!</h1>
    <div class="container">
        <h5>
            Sua conta foi criada com sucesso.
        </h5>
        <ul>
            <li>
                <a href="/new">Novo conteúdo</a>
            </li>
            <li>
                <a href="/perfil">Ver seu perfil</a>
            </li>
            <li>
                <a href="/">Voltar para a página inicial</a>
            </li>
        </ul>
    </div>
</div>