<div class="container">
    <h1>Finalizado!!</h1>
    <div class="container">
        <ul>
            <li>
                <a href="/">Página inicial</a>
            </li>
            <li>
                <a href="/perfil">Ver seu perfil</a>
            </li>
            <li>
                <a href="/perfil/conteudos">Ver seu conteúdo</a>
            </li>
        </ul>
    </div>
</div>